.challengeBoxContainer {
    height: 100%;

    background: black;
    border-radius: 5px;
    /* box-shadow: 0 0 60px rgba(255, 255, 255, 0.05); */
    box-shadow: var(--sombra);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1rem;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}

.challengeNotActive img {
    margin-top: 3rem;
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 2rem;
    color: white;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}

.challengeActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challengeActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--white);
}

.challengeActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challengeActive main strong {
    font-weight: 600;
    font-size: 2rem;
    color: var(--blue-dark);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p{
    line-height: 1.5;
    color: var(--white);
    text-shadow: var(--sombra-texto);
}

.challengeActive footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.challengeActive footer button {
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);
    font-size: 1rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton {
    background: var(--red);
    text-shadow: 1.5px 1.5px 1px rgb(0, 0, 0);
}

.challengeActive footer button.challengeSucceededButton {
    background: var(--green);
    text-shadow: 1.5px 1.5px 1px rgb(0, 0, 0);
}

.challengeActive footer button:hover {
    filter:brightness(0.9)
}